@model Dictionary<string, string>

<footer>
    <section id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-12">
                    <div class="subscribe-content">
                        <h6>$20 discount to your first order</h6>
                        <h3>Join our newsletter and get...</h3>
                        <p>Join our email subscription now to get updates<br>on promotions and coupons.</p>
                        <div class="email">
                            <i class="fa-solid fa-envelope"></i><input type="email"
                                                                       placeholder="Your email address"><button type="submit">Subscribe</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 d-xs-none d-md-none d-xl-block">
                    <div class="subscribe-img">
                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/coupon.png"
                             alt="subscribe">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="iconboxes" class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-6">
                    <div class="content">
                        <i class="fas fa-prescription-bottle"></i> Everyday fresh products
                    </div>
                </div>
                <div class="col-xl-3 col-6">
                    <div class="content">
                        <i class="fas fa-truck"></i> Free delivery for order over $70
                    </div>
                </div>
                <div class="col-xl-3 col-6">
                    <div class="content">
                        <i class="fas fa-percent"></i> Daily Mega Discounts
                    </div>
                </div>
                <div class="col-xl-3 col-6">
                    <div class="content">
                        <i class="fas fa-dollar-sign"></i> Best price on the mark
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="widgets" class="pt-5">
        <div class="container">
            <hr>
            <div class="row justify-content-between pt-5 pb-5">
                <div class="col-xl-2 col-4">
                    <div class="content">
                        <h4>FRUIT & VEGETABLES</h4>
                        <div class="links">
                            <a href="">Fresh Vegetables</a><br>
                            <a href="">Herbs & Seasonings</a><br>
                            <a href="">Fresh Fruits</a><br>
                            <a href="">Cuts & Sprouts</a><br>
                            <a href="">Exotic Fruits & Veggie</a><br>
                            <a href="">Packaged Produce</a><br>
                            <a href="">Party Trays</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-4">
                    <div class="content">
                        <h4>BREAKFAST & DAIRY</h4>
                        <div class="links">
                            <a href="">Milk & Flavoured Milk</a><br>
                            <a href="">Butter and Margarine</a><br>
                            <a href="">Cheese</a><br>
                            <a href="">Eggs</a><br>
                            <a href="">Honey</a><br>
                            <a href="">Marmalades</a><br>
                            <a href="">Sour Cream and Dips</a><br>
                            <a href="">Yogurt Substitutes</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-4">
                    <div class="content">
                        <h4>MEAT & SEAFOOD</h4>
                        <div class="links">
                            <a href="">Breakfast Sausage</a><br>
                            <a href="">Dinner Sausage</a><br>
                            <a href="">Beef</a><br>
                            <a href="">Chichken</a><br>
                            <a href="">Sliced Deli Meat</a><br>
                            <a href="">Shrimp</a><br>
                            <a href="">Wild Caught Fillets</a><br>
                            <a href="">Crab and Shellfish</a><br>
                            <a href="">Farm Raised Fillets</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-4">
                    <div class="content">
                        <h4>BEVERAGES</h4>
                        <div class="links">
                            <a href="">Water</a><br>
                            <a href="">Sparkling Water</a><br>
                            <a href="">Soda & Pop</a><br>
                            <a href="">Coffee</a><br>
                            <a href="">Milk & Plant-Based Milk</a><br>
                            <a href="">Tea & Kombucha</a><br>
                            <a href="">Drink Boxes & Pouches</a><br>
                            <a href="">Craft Beer</a><br>
                            <a href="">Wine</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-4">
                    <div class="content">
                        <h4>BREADS & BAKERY</h4>
                        <div class="links">
                            <a href="">Milk & Flavoured Milk</a><br>
                            <a href="">Butter and Margarine</a><br>
                            <a href="">Cheese</a><br>
                            <a href="">Eggs Substitutes</a><br>
                            <a href="">Honey</a><br>
                            <a href="">Marmalades</a><br>
                            <a href="">Sour Cream and Dips</a><br>
                            <a href="">Yogurt</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-6 d-flex">
                    <div class="icon"><i class="fas fa-phone"></i></div>
                    <div class="info">
                        <h4>@Model["FooterPhone"]</h4>
                        <span>Working 8:00 - 22:00</span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-10">
                            <div class="mobile-app d-flex">
                                <div class="app-contents">
                                    <h6>Download App on Mobile :</h6>
                                    <span>15% discount on your first purchase</span>
                                </div>
                                <div class="app-buttons d-flex">
                                    <a href="https://play.google.com/store">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/google-play.png"
                                             alt="app">
                                    </a>
                                    <a href="https://www.apple.com/app-store/">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/app-store.png"
                                             alt="app">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="site-local">
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

        </div>
    </section>
</footer>